body {
    background: #ecf0f1;
    color: #333;
    padding: 40px 0 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4285;
    font-weight: normal;
    font-style: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[type=image] {
    border: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.container {
    width: 960px;
    padding: 0;
    margin: 0 auto;
}
.page-link a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px 0;
    margin: 0;
    color: #333;
    text-decoration: none;
}
.page-link a:hover,
.page-link a:focus {
    color: #333;
    text-decoration: underline;
}
.toolbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1030;
}
.toolbar:after {
    content: " ";
    display: table;
    clear: both;
}
.toolbar input[type=radio] {
    display: none;
}
.toolbar label {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #bdc3c7;
}
.toolbar input:checked + label {
    height: 40px;
}
